<h1>Edit Task</h1>
<% flash.each do |type, msg| %>
    <div>
    <b> <%= msg %> </b>
    </div>
  <% end %>
<%= form_with url: edit_task_path do |form| %>
    
        <div class="field">
            <%= form.label :task_title %>
            <%= form.text_field :task_title, value: @user_task["task_title"] %>
            
        </div>

        <div class="field">
            <%= form.label :description %>
            <%= form.text_field :description, value: @user_task["description"]%>
        </div>

        <div class="field">
            <%= form.label :status %>
            <%= form.select :status, TasksView::STATUS_CODE,  value: @user_task["status"]%>
            
        </div>

        <div class="field">
            <%= form.hidden_field :id, value: @user_task["id"].to_i%>
        </div>

        <div class="actions">
            <%= form.submit 'update_task' %>
        </div>

<% end %>

<%= link_to 'back', view_tasks_path %>