<h1>Edit Task</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.task_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

#<%= link_to 'Edit', edit_task_path(@task) %> |
#<%= link_to 'Back', tasks_path %>

